*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: aquamarine;
}

.container{
    display: flex;
    padding-top: 100px;
    margin: auto;
    width: 90%;
}

.leftBar{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,0.5fr));   
    grid-gap:4rem;
}

.rightBar{
    flex-basis: 50%;
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
}

.rightBar img{
    margin: 1.5rem;
    height: 160px;
}
.pokemon{
    width: 300px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
